<div class="container">
    <div aria-label="breadcrumb" id="breadcrumbs" class="bg-white text-muted small">
        <ol class="breadcrumb">
            {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
            <li class="breadcrumb-item"><a href="{{ site.baseurl }}/">Home</a></li>
            {% for crumb in crumbs offset: 1 %}
            {% if forloop.last %}
            &nbsp; / {{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}
            {% else %}
            / <li class="breadcrumb-item"><a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a></li>
            {% endif %}
            {% endfor %}
        </ol>
    </div>
</div>